* {
    box-sizing: border-box;
    margin: 0;
    border: 2px solid red;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 80px;
}

.left, .right {
    display: flex;
    align-items: center;
    /*gap: 16px;*/
}

.center-images {
    justify-content: center;
    gap: 10px;
}

.extra-padding{
    padding: 200px;
}

.flex-container {
    display: flex;
}

.column {
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 80px;
}

.image-150 {
    width: 150px;
    flex: none;
}

.space-between {
    justify-content: space-between;
    padding: 10px 80px;
}

.space-evenly {
    justify-content: space-evenly;
}

.dark-background {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
}

.dark-background h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.dark-background h2 {
    font-size: 24px;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
}

.white-background {
    background-color: #F9FAF8;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;
}